
<% if signed_in? %>
  <div class="row" >
    <aside class="span5" >
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span7">
      <h3><p style = "color:#009999">Micropost Feed<p></h3>
      <%= render 'shared/feed' %>
      <% if @users.try(:any?) %>
        <h3>Users</h3>
        <ol class="users">
          <%= render @users %>
        </ol>
      <%end%>
    </div>
  </div>
 <% else %>
  <div class="center hero-unit">
    <h1>Welcome to the www.connect.com</h1>
    <h2>
      This is the home page for the
      <a href="#">www.connect.com</a>
    </h2>
    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>
<% end %>
