<li>
  <%= gravatar_for user, size: 52 %>
  <% if defined?(user_item_content) %>
    <%if user_item_content[:highlight][:"name.word_start"].present? %>
      <ol> <%=  link_to user_item_content[:highlight][:"name.word_start"].html_safe, user %></ol>
    <% else %>
      <ol><%= link_to user.name, user %></ol>
    <% end %>
    <%if user_item_content[:highlight][:"username.word_start"].present? %>
      <ol>@<%=  link_to user_item_content[:highlight][:"username.word_start"].html_safe, user %></ol>
    <% else %>
      <ol>@<%= link_to user.username, user %></ol>
    <% end %>   
  <% else %>
      <ol><%= link_to user.name, user %></ol>
      <ol>@<%= link_to user.username, user %></ol>
  <%end%>
  <% if current_user.admin? && !current_user?(user) %>
   <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>