<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      @<%= @user.username %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
  <%= render 'follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
      <h3><p style = "color:#00CCCC">Microposts (<%= @user.microposts.not_replies.count %>)</p></h3>
      <ol class="microposts">
      <% @microposts.each do |reply|%>
         <%= render "shared/feed_item", :feed_item => reply %>
      <% end %>
      <!--  <%= render @microposts %>-->
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>