
 <%  unless defined?(is_reply) && is_reply %>
    <li id="<%= feed_item.id %>">
  <% else %>
    <li id="<%= feed_item.id %>" style = "padding-left: 50px">
  <% end %> 
  <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  <span class="user">
    <%= link_to feed_item.user.name, feed_item.user %>
  </span>
  <span class="content"><%= feed_item.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>
  <% if current_user?(feed_item.user) %>
    <%= link_to "delete", feed_item, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: feed_item.content %>
  <% end %>   
  <%  unless defined?(is_reply) && is_reply %>
    <%= form_for(@micropost) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
        <%= f.text_area :content, placeholder: "Reply...", :id=>"replysize" %>
      </div>
      <%= f.hidden_field :in_reply_to_id, :value => feed_item.id %>
      <%= f.submit "Reply", class: "btn btn-large btn-primary" %>
    <% end %>
  <% end %>
  </li>
  <!-- <div class="replies"> -->
  <% feed_item.replies.each do |reply|%>
    <%= render "shared/feed_item", :feed_item => reply, :is_reply => true %>
  <% end %>
  <br>
  <!-- </div> -->
