
<a href="<%= user_path(current_user) %>">
  <%= gravatar_for current_user, size: 62 %>
</a>
<h1>
  <%= link_to current_user.name,current_user %>
</h1>
@<%= current_user.username %>
<span>
  <h7><b><%= "Posted "+pluralize(current_user.microposts.not_replies.count, "feeds") %></b></h7>
</span>
  
