<header class="navbar navbar-fixed-top navbar-inverse" >

  <div class="navbar-inner">
    <div class="container">
      <%= link_to "connect", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li>
            <%= form_tag search_path, method: :get, :id => "search_form", :class => "form-search" do %>
            <div class="input-append">
              <%= text_field_tag :query, params[:query], placeholder: "Search", type: "text", :class=>"span2 search-query" %>
              <button type="submit" id="searchbutton" class="btn"><i class="icon-search"></i></button>
            </div>
            </form>
             
            <%end%>
          </li>
          <li><a href="<%= root_path%>"><i class="fa fa-home fa-fw"></i>&nbsp;Home</a></li>
           <li><a href="<%= help_path%>"><i class="fa fa-header fa-fw"></i>&nbsp;Help</a></li>
          <% if signed_in? %>
            <li><a href="<%= users_path%>"><i class="fa fa-group fa-fw"></i>&nbsp;Users</a></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu">
              <li><a href="<%= user_path(current_user)%>"><i class="fa fa-book fa-fw"></i>&nbsp;Profile</a></li>
              <li><a href="<%= edit_user_path(current_user)%>"><i class="fa fa-pencil fa-fw"></i>&nbsp;Edit</a></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>